  .el-tree-node.is-current  >  .el-tree-node__content  {
        background-color: #409eff !important;
        color: white;
  }
  
    .el-checkbox__input.is-checked + .el-checkbox__label  {
        color: black;
  }
