.header-wrapper .title {
    font-size: 16px;
    margin-top: 0;
}
.content-wrapper {
    margin-left: 0;
}
.patient-card .el-card__header .detail {
    font-size: 14px;
}
.page-container .title {
    letter-spacing: 1px;
    font-weight: 700;
    color: #333;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
}
.page-container .tips {
    width:100%;
    padding-left: 0;
}
.page-container .form-wrapper {
    padding-left: 92px;
    width: 580px;
}
.form-normal {
    height: 40px;
}
.bottom-wrapper{
    width:100%;
    padding:0;
    margin-top:0;
}
